<nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <h1>Note</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link cr" routerLink="home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a (click)="logOut()" class="nav-link cr">SignOut</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
